
//menu
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut();

    .btn-line {
        
        height: 3px;
        width: 28px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut();
       
    }

    // Rotate into X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
             
            }

            // Line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }
         
            // Line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);

            }
        }
    }
}

//Menu Overlays
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($color: $primary-color, $amount: 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            //slide in from top 
            transform: translate3d(0, 0, 0);
        }
    }

     //Branding Side
     &-branding {
         background: $primary-color;
         transform: translate3d(0,100%,0);
         @include easeOut;

         &.show {
             //Slide in from bottom
             transform: translate3d(0, 0, 0 );
         }

        .portrait {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: url(../img/portrait6.jpg);
            border: solid 3px $secondary-color;
               
            
        }         
     }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }
    
    .nav-link {
        display: inline-block;
        position: relative;
    }
}

// Delay nav item slide by 0.1
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    } 
}